body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

label:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

.card {
  background: white;
  width: 100%;
  display: flex;
  margin: 10% 15%;
  padding: 5rem 5rem;
  border-radius: 1rem;
}

.image-section img {
  position: absolute;
}

.container {
  flex: 1;
}

.faq-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: hsl(237, 12%, 33%);
}

.hidden {
  display: none !important;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  font-weight: 400;
}
.question > img {
  object-fit: contain;
}
.answer {
  padding-bottom: 0.8rem;
}

.faq-block {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
@media (min-width: 1440px) {
  #pattern-background-img {
    width: 200%;
    height: 300%;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    position: absolute;
    transform: scale(0.8);
    top: -21rem;
    right: -1.25rem;
  }
  #woman-online-desktop-img {
    background-image: url("./images/illustration-woman-online-desktop.svg");
    width: 200%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    right: -26.7rem;
    top: 3rem;
    transform: scale(0.9);
  }

  .image-background-cover {
    position: relative;
    overflow: hidden;
    width: calc(100% + 5rem);
    height: calc(100% + 10rem);
    margin-left: -5rem;
    margin-top: -5rem;
  }
  #box-img {
    position: absolute;
    z-index: 10;
    margin-left: calc(-5rem - 95.5px);
    margin-top: calc(-5rem);
    transform: translateY(100%);
    animation: boxUpDown 2s linear infinite;
  }
}

@keyframes boxUpDown {
  0% {
    transform: translateY(calc(100% + 15px));
  }
  50% {
    transform: translateY(calc(100% - 5px));
  }
  100% {
    transform: translateY(calc(100% + 15px));
  }
}

:root {
  --mobile-image-size: 77vw;
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    align-items: center;
    margin: 10% 7%;
    padding: 3.2rem 1.5rem;
  }

  .answer {
    padding-bottom: 1rem;
  }

  .faq-title {
    text-align: center;
  }

  #pattern-background-img {
    width: 100%;
    height: 100%;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: calc(50% + 15px);
  }
  #woman-online-desktop-img {
    width: 100%;
    height: 100%;
    background-image: url("./images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    animation: desktopImgUpDown 2s linear infinite;
  }

  .image-background-cover {
    position: relative;
    height: calc(var(--mobile-image-size) * 0.77);
    width: calc(var(--mobile-image-size));
    top: -3.2rem;
  }

  .image-section {
    margin-top: calc(-50% + 15px);
  }

  .faq-section {
    width: 100%;
  }

  #box-img {
    display: none;
  }
}

@keyframes desktopImgUpDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
